<!-- base.html -->
<html>
	<head>
		{% if title %}
		<title>{{ title }} - WishGroup</title>
		{% else %}
		<title>WishGroup</title>
		{% endif %}
	</head>
	<body>
		<!-- top bar -->
		<div>WishGroup: <a href="/index">Home</a></div><br/>
		{% if current_user.is_authenticated %}
		<div>Username : {{ current_user.username }}</div>
		<div>you can <a href="/logout">logout</a></div>
		{% else %}
		<div>Guest, maybe you should <a href="/register">register</a> or <a href="/login">login</a> at first!</div>
		{% endif %}

		<!-- message flash -->
		{% with messages = get_flashed_messages() %}
		{% if messages %}
		<ul>
		{% for message in messages %}
			<li>{{ message }}</li>
		{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		<hr>

		<!-- main content -->
		{% block content %}{% endblock %}
	</body>
</html>