<!-- group_list.html -->
{% extends "base.html" %}

{% block content %}

<h2> Your Wish Groups </h2>
{% if user_wishgroups %}
	{% for wishgroup in user_wishgroups %}
		<p>{{ wishgroup.id }} | {{ wishgroup.name }}</p>
	{% endfor %}
{% else %}
	<p>-- YOU HAVE NOT JOINED ANY GROUPS --</p>
{% endif %}

<br/><hr><br/>

<h2> All Wish Groups </h2>
{% for wishgroup in all_wishgroups() %}
	{% if wishgroup in user_wishgroups %}
		<font color="green">{{ wishgroup.id }} | {{ wishgroup.name }}</font>
	{% else %}
		<p>{{ wishgroup.id }} | {{ wishgroup.name }}</p>
	{% endif %}
{% endfor %}
<p><a href="/join_group"> -> I want to join a group  </a></p>
{% endblock %}