<!-- group_list.html -->
{% extends "base.html" %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="column col-md-offset-1 col-md-10">
      <h2> All Wish Groups </h2>
      <table class="table table-bordered well">
        <thead>
          <th>No</th>
          <th>Group Name</th>
          <th>Joined</th>
          <th>Detials</th>
        </thead>
        <tbody>
          {% for wishgroup in all_wishgroups() %}
          <tr>
            <td>{{ wishgroup.id }}</td>
            <td>{{ wishgroup.name }}</td>
            {% if wishgroup in user_wishgroups %}
            <td><span class="glyphicon glyphicon-ok" style="color:#C0FF3E"></span></td>
            <td><a href="/group_info/{{ wishgroup.id }}">
              <span class="glyphicon glyphicon-option-horizontal"></span>
            </a></td>
            {% else %}
            <td><a href="/join_group?wishgroup_id={{ wishgroup.id }}">
              <span class="glyphicon glyphicon-plus" style="color:#FFA500"></span>
            </a></td>
            <td></td>
            {% endif %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

{% endblock %}
