<!-- join_group.html -->
{% extends "base.html" %}

{% block content %}

<h1> Join Groups </h1>
<p>Which wish group do you want to join?</p>
<hr>
<h3>Groups List : </h3>
<form action="" method="get">
{% for wishgroup in all_wishgroups() %}
	{% if wishgroup not in user_wishgroups %}
		<p><input type="radio" name="wishgroup_id" value="{{ wishgroup.id }}"/>{{ wishgroup.id }} | {{ wishgroup.name }}<p/>
	{% endif %}
{% endfor %}
<br/>
<hr>
<div><input type="submit" value="join in"/></div><br/>
</form>

{% endblock %}